<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">
  <persistence-unit name="sistema_carros" transaction-type="RESOURCE_LOCAL">
    <non-jta-data-source>sistema_carros</non-jta-data-source>
    <class>br.com.formedici.carros.model.Carro</class>
    <class>br.com.formedici.carros.model.Usuario</class>
    <class>br.com.formedici.carros.model.UsuarioTelefone</class>
    <class>br.com.formedici.carros.model.UsuarioCarro</class>
    <class>br.com.formedici.carros.model.UsuarioCarroPK</class>
    <class>br.com.formedici.carros.model.UsuarioTelefonePK</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="toplink.logging.level" value="FINE"/>
      <property name="toplink.logging.exceptions" value="false"/>
      <property name="toplink.ddl-generation" value="none"/>
    </properties>
  </persistence-unit>
</persistence>
